
<div class="wrapper">
    <img src="../../assets/res.jpg">
    <!-- PI1 -->
    <div class="dot pi1" id="dl" matTooltip="Door Light" (click)="openFrame(6)"></div>
    <div class="dot pi1" id="dpir1" matTooltip="Door Motion Sensor 1" (click)="openFrame(1)"></div>
    <div class="dot pi1" id="dus1" matTooltip="Door Ultrasonic Sensor 1" (click)="openFrame(4)"></div>
    <div class="dot pi1" id="ds1" matTooltip="Door Sensor 1" (click)="openFrame(5)"></div>
    <div class="dot pi1" id="db" matTooltip="Door Buzzer" (click)="openFrame(7)"></div>
    <div class="dot pi1" id="dms" matTooltip="Door Membrane Switch" (click)="openFrame(8)"></div>
    <div class="dot pi1" id="rpir1" matTooltip="Room PIR 1" (click)="openFrame(12)"></div>
    <div class="dot pi1" id="rpir2" matTooltip="Room PIR 2" (click)="openFrame(13)"></div>
    <div class="dot pi1" id="rdht1" matTooltip="Room DHT 1" (click)="openFrame(9)"></div>
    <div class="dot pi1" id="rdht2" matTooltip="Room DHT 2" (click)="openFrame(2)"></div>

    <!-- PI2 -->
    <div class="dot pi2" id="ds2" matTooltip="Door Sensor 2" (click)="openFrame(11)"></div>
    <div class="dot pi2" id="dus2" matTooltip="Door Ultrasonic Sensor 2" (click)="openFrame(10)"></div>
    <div class="dot pi2" id="dpir2" matTooltip="Door Motion Sensor 2" (click)="openFrame(14)"></div>
    <div class="dot pi2" id="gdht" matTooltip="Garage DHT" (click)="openFrame(19)"></div>
    <div class="dot pi2" id="glcd" matTooltip="Garage LCD"></div>
    <div class="dot pi2" id="gsg" matTooltip="Gun Safe Gyro"></div>
    <div class="dot pi2" id="rdht3" matTooltip="Room DHT 3" (click)="openFrame(16)"></div>
    <div class="dot pi2" id="rpir3" matTooltip="Room PIR 3" (click)="openFrame(15)"></div>

    <!-- PI3 -->
    <div class="dot pi3" id="brgb" matTooltip="Bedroom RGB" (click)="openRGBDialog()"></div>
    <div class="dot pi3" id="bir" matTooltip="Bedroom Infrared"></div>
    <div class="dot pi3" id="b4sd" matTooltip="Clock" (click)="openClockDialog()"></div>
    <div class="dot pi3" id="bb" matTooltip="Bedroom Buzzer" (click)="openFrame(20)"></div>
    <div class="dot pi3" id="rdht4" matTooltip="Room DHT 4" (click)="openFrame(18)"></div>
    <div class="dot pi3" id="rpir4" matTooltip="Room PIR 4" (click)="openFrame(17)"></div>

</div>
<!-- <iframe src="http://localhost:3000/d-solo/e5980d3e-30ee-4852-bf7b-9cedf4a39956/iot?orgId=1&from=1704307979094&to=1704308879094&panelId=3" width="450" height="200" frameborder="0"></iframe> -->