.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.legend{
    position: absolute;
    top: 10px;
    left: 20px;
}

.legend ul{
    list-style: none;
    border: 1px solid rgba(135, 132, 132, 0.51);
    border-radius: 5px;
    padding: 20px 40px !important;
    box-shadow: 0px 0px 10px 0px rgba(189, 188, 188, 0.47);

}

.legend ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.legend ul li span:hover{
    cursor: default;
}

.legend-text{
    margin-left: 20px;
}

.people-count{
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(135, 132, 132, 0.51);
    box-shadow: 0px 0px 10px 0px rgba(189, 188, 188, 0.47);
    padding: 20px;
    border-radius: 5px;
}

.history{
    position:  absolute;
    bottom: 25px;
    right: 20px;
}

.wrapper img{
    height: 100vh;
}

.dot{
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 1;
}

.pi1{
    background-color: pink;
}

.pi1:hover{
    background-color: palevioletred;
    cursor: pointer;
}

.pi2{
    background-color: palegreen;
}

.pi2:hover{
    background-color: limegreen;
    cursor: pointer;
}

.pi3{
    background-color: skyblue;
}

.pi3:hover{
    background-color: deepskyblue;
    cursor: pointer;

}
/* PI1 */
#dl{
    bottom: 120px;
    left: 560px;
}

#dpir1{
    bottom: 145px;
    left: 560px;
}

#dus1{
    bottom: 170px;
    left: 560px;
}

#ds1{
    bottom: 195px;
    left: 560px;
}

#db{
    bottom: 235px;
    left: 625px;
}

#dms{
    bottom: 305px;
    left: 560px;
}

#rpir1{
    bottom: 235px;
    left: 510px;
}

#rpir2{
    top: 295px;
    left: 450px;
}

#rdht1{
    bottom: 145px;
    left: 460px;
}

#rdht2{
    bottom: 265px;
    left: 460px;
}

/* PI2 */
#ds2{
    bottom: 320px;
    left: 720px;
}

#dus2{
    bottom: 320px;
    left: 745px;
}

#glcd{
    bottom: 290px;
    left: 720px;
}

#gdht{
    bottom: 290px;
    left: 745px;
}

#gsg{
    bottom: 385px;
    right: 675px;
}

#dpir2{
    bottom: 360px;
    right: 700px;
}

#rpir3{
    top: 295px;
    left: 640px;
}

#rdht3{
    top: 295px;
    left: 665px;
}

/* PI3 */
#rpir4{
    top: 45px;
    right: 730px;
}

#rdht4{
    top: 45px;
    right: 645px;
}

#bb{
    top: 45px;
    right: 520px;
}

#b4sd{
    top: 45px;
    right: 480px;
}

#bir{
    right: 675px;
    top: 135px;
}

#brgb{
    right: 570px;
    top: 135px;
}