mat-dialog-content{
    width: 100%;
    height: 100%;
    background-color: rgb(172, 3, 3);
}

h1{
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 8px;
    color: white;
    padding: 40px 50px !important;
}