.clock {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.alarm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.alarm h4{
    margin: 0;
    padding: 10px;
}

.alarm input{
    margin: 10px;
    padding: 10px;
}

.clock p {
    font-size: 70px;
    margin: 0;
    line-height: 1;
}

#delete-btn{
    margin-left: 10px;
}